/* !important is needed here to override SortableJS styles. */
.xbCustomGhost {
  position: absolute !important;
  z-index: 1 !important;
  right: var(--space-2) !important;
  height: 2px !important;
  padding: 0 !important;
  background-color: var(--blue-9) !important;
  & * {
    visibility: hidden !important;
  }
}

/* !important is needed here to override SortableJS styles. */
.xbCustomClone {
  display: block !important;
  opacity: 0.6 !important;
}

/* Provide "space" for SortableJS at the top and bottom as drop targets. */
.slotDropZone {
  margin: -20px 0;
  padding: 20px 0;
}
.treeItem.dragging .selected {
  font-size: 20px;
}
