.icon {
  margin-right: 10px;
  color: var(--blue-9);
}

.treeItem {
  height: 35px;
  padding: 0.4rem;
  list-style-type: none;
  cursor: pointer;
  &.hovered {
    color: initial;
    background-color: var(--gray-3);
    .icon path {
      fill: var(--blue-9);
    }
  }
  &.selected {
    width: 100%;
    color: #fff;
    background-color: var(--blue-9);
    .icon path {
      fill: #fff;
    }
  }
}

[data-xb-is-dragging="true"] .selected {
  color: initial;
  background-color: initial;
  .icon path {
    fill: var(--blue-9);
  }
}

.inline {
  display: inline-flex;
}
