.treeParent {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 2px 2px 2px 0;
  list-style-type: none;
  &.slot {
    min-height: 2rem;
    border: 1px dashed #3b3b3b;
  }
  > li {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 10px;
  }
  .treeParent {
    margin-left: -5px;
  }
  .sortableGhost {
    position: relative;
    clear: none;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    height: 1rem;
    max-height: 1rem;
    opacity: 0.5;
    outline: 1px solid #ccc;
    background: linear-gradient(135deg, #ddd 12.5%, transparent 12.5%, transparent 50%, #ddd 50%, #ddd 62.5%, transparent 62.5%, transparent 100%) center / 5.66px 5.66px;
    box-shadow: none;
    & * {
      visibility: hidden;
    }
  }
}

.slotList {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 2px 2px 2px 0;
  list-style-type: none;
}

.slotList {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 2px 2px 2px 0;
  list-style-type: none;
}
