.componentIcon {
  color: var(--blue-9);
}
.slotIcon {
  color: var(--purple-9);
}

.regionIcon {
  color: var(--grass-9);
}
.layer {
  cursor: default;
  line-height: 16px;
  button,
  svg {
    display: block;
  }
}

.regionLayer {
  &:hover {
    background-color: var(--grass-3);
    path {
      fill: var(--grass-9);
    }
  }
  &.selected {
    color: #fff;
    background-color: var(--grass-9);
    path {
      fill: #fff;
    }
  }
}

.componentLayer {
  &:hover {
    color: initial;
    background-color: var(--blue-3);
    .icon path {
      fill: var(--blue-9);
    }
  }
  &.selected {
    width: 100%;
    color: #fff;
    background-color: var(--blue-9);
    .componentIcon path {
      fill: #fff;
    }
  }
}

.slotLayer {
  &:hover {
    color: initial;
    background-color: var(--purple-3);
    .icon path {
      fill: var(--purple-9);
    }
  }
}

[data-xb-is-dragging="true"] .selected {
  color: initial;
  background-color: initial;
  .icon path {
    fill: var(--blue-9);
  }
}

.inline {
  display: inline-flex;
}
