:root {
  --default-black-text-color: #1c2024;
}

.MenuRoot {
  position: fixed;
  top: calc(var(--topbar-height) + var(--topbar-space-above) + var(--topbar-space-below));
  left: var(--sidebar-space-side);
  display: flex;
  flex-direction: column;
  width: var(--sidebar-left-width);
  height: var(--sidebar-height);
  padding: 24px 16px;
}

.segmentedControlRoot {
  margin-bottom: 24px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}

.menuContent {
  height: 100%;
  color: var(--default-black-text-color);
}
