# @see https://docs.gitlab.com/ee/user/project/codeowners/reference.html

[project metadata][3] @balintbrews @bnjmnm @f.mazeikis @hooroomoo @jessebaker @lauriii @tedbow @wimleers
/*.info.yml
/composer.json


#
# Client side.
#

[UI] @balintbrews @bnjmnm @jessebaker @hooroomoo
/ui/

[UI utils] @balintbrews @bnjmnm @jessebaker @hooroomoo @effulgentsia
/ui/src/utils/

#
# Hybrid side.
#

[OpenAPI] @traviscarden
/openapi.yml
/src/EventSubscriber/ApiMessageValidatorBase.php
/src/EventSubscriber/ApiRequestValidator.php
/src/EventSubscriber/ApiResponseValidator.php
/tests/src/Traits/OpenApiSpecTrait.php
/tests/src/Unit/OpenApiSpecValidationTest.php
/tests/src/Unit/UiFixturesValidationTest.php

[semi-coupled theme engine] @bnjmnm @hooroomoo @effulgentsia
/src/Theme/XBThemeNegotiator.php
/themes/engines/semi_coupled/
/templates/form/
/ui/src/components/form/


#
# Server side.
#

# The default for the back-end, with more specific code owners for specific areas.
[Page Builder back-end] @wimleers @f.mazeikis @tedbow @effulgentsia
/src/

# Issues: https://www.drupal.org/project/issues/experience_builder?component=Config+management
[Config management] @f.mazeikis @wimleers
/docs/config-management.md
/docs/diagrams/config-management.md
/config/schema/
/src/Entity/
/tests/src/Kernel/Entity/ComponentValidationTest.php
/tests/src/Kernel/ComponentTest.php

# Issues: https://www.drupal.org/project/issues/experience_builder?component=Data+model
[Data model] @effulgentsia @tedbow @wimleers
/docs/data-model.md
/docs/diagrams/data-model.md
# data type
/src/Plugin/DataType/
/tests/src/Kernel/DataType/
# field type
/src/Plugin/Field/FieldType/
/tests/src/Kernel/Plugin/Field/FieldType/

[highly experimental new concepts] @wimleers
/src/JsonSchemaInterpreter/
/src/DataTypeShape*
/src/PropExpressions/
/src/PropSource/
/src/SdcProp*


#
# Tests
#

[tests] @balintbrews @bnjmnm @f.mazeikis @jessebaker @larowlan @lauriii @tedbow @wimleers @hooroomoo
/tests/


#
# DX
#

[DX: CI] @wimleers
/.gitlab-ci.yml

[DX: JS] @balintbrews @bnjmnm @jessebaker @hooroomoo
/ui/*.json
/ui/*.config.ts

[DX: hot reload] @hooroomoo
/modules/xb_vite/

[DX: PHP] @wimleers @larowlan
/phpcs.xml
/phpstan.neon
