# @see https://docs.gitlab.com/ee/user/project/codeowners/reference.html

[project metadata][3] @bnjmnm @f.mazeikis @hooroomoo @jessebaker @lauriii @tedbow @wimleers
/*.info.yml
/composer.json


#
# Client side.
#

[UI] @bnjmnm @jessebaker
/ui/


#
# Server side.
#

[component schema shared definitions] @lauriii @wimleers
/src/JsonSchemaDefinitions*
/schema.json

[data model] @wimleers
/src/Plugin/DataType/
/src/Plugin/Field/
/src/Plugin/Validation/
/src/PropExpressions/

[schema matching] @wimleers
/src/JsonSchemaInterpreter/
/src/DataTypeShape*
/src/SdcProp*


#
# Tests
#

[tests][2] @bnjmnm @f.mazeikis @jessebaker @lauriii @tedbow @wimleers
/tests/


#
# DX
#

[DX: CI] @wimleers
/.gitlab-ci.yml

[DX: Cypress] @bnjmnm @jessebaker
/submodules/cypress/

[DX: JS][2] @bnjmnm @jessebaker
/ui/*.json
/ui/*.config.ts

[DX: hot reload] @hooroomoo
/submodules/xb_vite/

[DX: PHP] @wimleers
/phpcs.xml
