parameters:
  level: 8
  fileExtensions:
    - php
    - module
    - inc
    - install
    - theme
    - profile
  excludePaths:
    - submodules
    # These are 1:1 copies from Drupal core, with trivial additions that cannot have significant PHPStan impact. PHPStan compliance should happen upstream.
    - src/Plugin/DataType
    - src/Plugin/Field/FieldType
  ignoreErrors:
    -
      message: "#^Method Drupal\\\\experience_builder\\\\PropExpressions\\\\StructuredData\\\\FieldTypePropExpression\\:\\:fromString\\(\\) should return static\\(Drupal\\\\experience_builder\\\\PropExpressions\\\\StructuredData\\\\FieldTypePropExpression\\) but returns Drupal\\\\experience_builder\\\\PropExpressions\\\\StructuredData\\\\FieldTypePropExpression\\.$#"
      count: 1
      path: src/PropExpressions/StructuredData/FieldTypePropExpression.php
    # This must be fixed upstream in various hooks.
    -
      message: "#^Function experience_builder_validation_constraint_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_entity_base_field_info_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_field_info_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_entity_view_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
