parameters:
  level: 8
  fileExtensions:
    - php
    - module
    - inc
    - install
    - theme
    - profile
  excludePaths:
    - submodules
    # These are 1:1 copies from Drupal core, with trivial additions that cannot have significant PHPStan impact. PHPStan compliance should happen upstream.
    - src/Plugin/DataTypeOverride
    - src/Plugin/Field/FieldTypeOverride
  ignoreErrors:
    -
      message: "#^Method Drupal\\\\experience_builder\\\\PropExpressions\\\\StructuredData\\\\FieldTypePropExpression\\:\\:fromString\\(\\) should return static\\(Drupal\\\\experience_builder\\\\PropExpressions\\\\StructuredData\\\\FieldTypePropExpression\\) but returns Drupal\\\\experience_builder\\\\PropExpressions\\\\StructuredData\\\\FieldTypePropExpression\\.$#"
      count: 1
      path: src/PropExpressions/StructuredData/FieldTypePropExpression.php

    #
    # These must be fixed upstream in various hooks.
    #
    -
      message: "#^Function experience_builder_validation_constraint_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_entity_base_field_info_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_field_info_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_entity_view_alter\\(\\) .*\\.$#"
      count: 2
      path: experience_builder.module
    -
      message: "#^Function experience_builder_toolbar\\(\\) has no return type specified\\.$#"
      count: 1
      path: experience_builder.module

    #
    # These must be fixed upstream in various interfaces and base classes.
    #
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\DataType\\\\.*\\:\\:setValue\\(\\) has no return type specified\\.$#"
      count: 2
      path: src/Plugin/DataType/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldFormatter\\\\.*\\:\\:viewElements\\(\\)#"
      count: 3
      path: src/Plugin/Field/FieldFormatter/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldType\\\\.*\\:\\:defaultFieldSettings\\(\\) return type has no value type specified in iterable type array\\.$#"
      count: 1
      path: src/Plugin/Field/FieldType/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldType\\\\.*\\:\\:preSave\\(\\) has no return type specified\\.$#"
      count: 1
      path: src/Plugin/Field/FieldType/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldType\\\\.*\\:\\:schema\\(\\) return type has no value type specified in iterable type array\\.$#"
      count: 1
      path: src/Plugin/Field/FieldType/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldWidget\\\\.*\\:\\:formElement\\(\\) has parameter \\$element with no value type specified in iterable type array\\.$#"
      count: 1
      path: src/Plugin/Field/FieldWidget/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldWidget\\\\.*\\:\\:formElement\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
      count: 1
      path: src/Plugin/Field/FieldWidget/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldWidget\\\\.*\\:\\:formElement\\(\\) has parameter \\$items with generic interface Drupal\\\\Core\\\\Field\\\\FieldItemListInterface but does not specify its types\\: T$#"
      count: 1
      path: src/Plugin/Field/FieldWidget/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldWidget\\\\.*\\:\\:formElement\\(\\) has parameter \\$items with no value type specified in iterable type Drupal\\\\Core\\\\Field\\\\FieldItemListInterface\\.$#"
      count: 1
      path: src/Plugin/Field/FieldWidget/*
    -
      message: "#^Method Drupal\\\\.*\\\\Plugin\\\\Field\\\\FieldWidget\\\\.*\\:\\:formElement\\(\\) return type has no value type specified in iterable type array\\.$#"
      count: 1
      path: src/Plugin/Field/FieldWidget/*
