parameters:
  level: 8
  strictRules:
    allRules: false
    strictFunctionCalls: true
  fileExtensions:
    - php
    - module
    - inc
    - install
    - theme
    - profile
  excludePaths:
    - '**/vendor/**'
    # Sometimes npm packages include PHP files
    - '**/node_modules/**'
    # These are 1:1 copies from Drupal core, with trivial additions that cannot have significant PHPStan impact. PHPStan compliance should happen upstream.
    - src/Plugin/Field/FieldTypeOverride
    - src/TypedData/BetterEntityDataDefinition.php
    # This trait decorates core's \Drupal\Core\Test\FunctionalTestSetupTrait::prepareSettings(), which itself triggers a PHPStan warning that core ignores. Match that.
    - tests/src/Traits/ContribStrictConfigSchemaTestTrait.php
  treatPhpDocTypesAsCertain: false
  drupal:
    entityMapping:
      asset_library:
        class: Drupal\canvas\Entity\AssetLibrary
      component:
        class: Drupal\canvas\Entity\Component
      js_component:
        class: Drupal\canvas\Entity\JavaScriptComponent
      canvas_page:
        class: Drupal\canvas\Entity\Page
      page_region:
        class: Drupal\canvas\Entity\PageRegion
      pattern:
        class: Drupal\canvas\Entity\Pattern
      staged_config_update:
        class: Drupal\canvas\Entity\StagedConfigUpdate
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    # Ignore invalid phpunit methods/covers
    # @todo Remove in https://drupal.org/i/3533845
    - identifier: phpunit.coversMethod
    # PHPStan finds many false positives for this, specifically when using the DIC or Typed Data.
    - identifier: varTag.type
    -
      identifier: deadCode.unreachable
      path: tests/src/Kernel/Plugin/Canvas/ComponentSource/JsComponentEvolutionTest.php
    - identifier: phpunit.covers
    -
      message: '#^Access to an undefined property object\:\:\$data\.$#'
      identifier: property.notFound
      count: 1
      path: canvas.post_update.php
    -
      message: '#^Access to an undefined property object\:\:\$owner\.$#'
      identifier: property.notFound
      count: 1
      path: canvas.post_update.php
    -
      message: '#^Access to an undefined property object\:\:\$updated\.$#'
      identifier: property.notFound
      count: 1
      path: canvas.post_update.php
    -
      message: "#^Class .* extends @internal class#"
      count: 1
      path: src/MediaLibraryCanvasPropOpener.php
    -
      message: "#^Access to an undefined property#"
      count: 1
      path: src/PropSource/StaticPropSource.php
    -
      message: "#^Method Drupal\\\\canvas\\\\Entity\\\\Pattern\\:\\:preCreate\\(\\) has no return type specified\\.$#"
      count: 1
      path: src/Entity/Pattern.php
    # The following ignores can be removed when we depend on Drupal 11.3 or later.
    -
      message: "#^Class Drupal\\\\Core\\\\DefaultContent\\\\PreExportEvent not found\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Parameter \\$event of method Drupal\\\\canvas\\\\EventSubscriber\\\\DefaultContentSubscriber\\:\\:preExport\\(\\) has invalid type Drupal\\\\Core\\\\DefaultContent\\\\PreExportEvent\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Call to method setCallback\\(\\) on an unknown class Drupal\\\\Core\\\\DefaultContent\\\\PreExportEvent\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Parameter \\$metadata of anonymous function has invalid type Drupal\\\\Core\\\\DefaultContent\\\\ExportMetadata\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Call to method addDependency\\(\\) on an unknown class Drupal\\\\Core\\\\DefaultContent\\\\ExportMetadata\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Class Drupal\\\\Core\\\\DefaultContent\\\\PreEntityImportEvent not found\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Parameter \\$event of method Drupal\\\\canvas\\\\EventSubscriber\\\\DefaultContentSubscriber\\:\\:preEntityImport\\(\\) has invalid type Drupal\\\\Core\\\\DefaultContent\\\\PreEntityImportEvent\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Access to property \\$metadata on an unknown class Drupal\\\\Core\\\\DefaultContent\\\\PreEntityImportEvent\\.$#"
      count: 4
      path: src/EventSubscriber/DefaultContentSubscriber.php
    -
      message: "#^Access to property \\$data on an unknown class Drupal\\\\Core\\\\DefaultContent\\\\PreEntityImportEvent\\.$#"
      count: 1
      path: src/EventSubscriber/DefaultContentSubscriber.php
