.sortableGhost {
  transition-duration: 0ms !important;
  transform: none !important;
}

.listItem {
  padding: 0 7px 0 16px;
  cursor: grab;
  font-size: 14px;
}

.outline {
  border: 1px solid var(--component-outline-color);
}

.listContainer {
  position: relative;
  top: var(--primary-menu-subcontent-item-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ComponentPreviewContent {
  position: absolute;
  user-select: none;
  color: white;
  border-radius: 4px;
  will-change: transform, opacity;
}

.ComponentPreviewTrigger {
  width: 100%;
  padding: 14px 0;
}
