.sortableGhost {
  transition-duration: 0ms !important;
  transform: none !important;
}

.listItem {
  /* 15px is the width of the arrow icon */
  padding: 0 0.5em 0 calc(0.5em + 15px);
  cursor: grab;
  font-size: 14px;
}

.outline {
  border: 1px solid var(--color-outline-component);
}

.listContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ComponentPreviewContent {
  position: absolute;
  user-select: none;
  color: white;
  border-radius: 4px;
  will-change: transform, opacity;
}

.ComponentPreviewTrigger {
  width: 100%;
  padding: 14px 0;
}
