.sortableGhost {
  transition-duration: 0ms !important;
  transform: none !important;
}

.listItem {
  cursor: grab;
  font-size: 14px;
}

.listContainer {
  position: relative;
  top: var(--primary-menu-subcontent-item-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
