:root {
  --topbar-height: 2rem;
  --leftbar-width: 200px;
  --rightbar-width: 400px;
}

* {
  box-sizing: border-box;
}

.app-container {
  padding-left: var(--leftbar-width);
  padding-right: var(--rightbar-width);
}

.topbar {
  height: var(--topbar-height);
  display: flex;
  text-align: center;
  border-bottom: 1px solid #333;
  background: #c2c2c2;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: var(--leftbar-width);
  background: #333;
  color: #fff;
  padding: 0.5rem;
}

.sidebar-right {
  width: var(--rightbar-width);
  right: 0;
  left: auto;
}
