:root {
  --topbar-height: 2rem;
  --leftbar-width: 200px;
  --rightbar-width: 400px;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: #fff;
}

.previewContainer {
  transition: margin 99ms ease-in-out;
}

.leftSideBarOpen {
  margin-left: var(--leftbar-width);
}
.rightSideBarOpen {
  margin-right: var(--rightbar-width);
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--topbar-height);
  text-align: center;
  border-bottom: 1px solid #333;
  background: #c2c2c2;
}

.sideBar {
  position: fixed;
  top: 0;
  height: 100vh;
}

.sideBarLeft {
  right: auto;
  left: 0;
  width: var(--leftbar-width);
}

.sideBarRight {
  right: 0;
  left: auto;
  width: var(--rightbar-width);
}

.handleContainer {
  width: 16px;
  height: 100%;
}
.handleIcon {
  position: absolute;
  pointer-events: none;
}
