/* cspell:ignore slnt wght */

:root {
  --primary-menu-width: 60px;
  --contextual-panel-width: 300px;
  --primary-menu-content-width: 230px;
  --primary-menu-subcontent-width: 230px;
  --primary-menu-text-color: #1c2024;
  --selected-menu-item-color: #e0e1e6;
  --hovered-menu-item-color: #f0f0f3;
  --primary-menu-subcontent-item-height: 12px;
  --primary-menu-subcontent-item-margin-bottom: 10px;
  --primary-menu-item-font-size: 14px;
  --primary-menu-border-color: #e0e1e6;
  --component-outline-color: #176bfd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: Inter;
  src:
    local("Inter"),
    url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
