/* reset */
button {
  all: unset;
}

.MenubarRoot {
  position: fixed;
  top: var(--topbar-height);
  display: flex;
  flex-direction: column;
  width: var(--primary-menu-width);
  height: 100vh;
  padding: 3px;
  border-right: 1px solid var(--primary-menu-border-color);
  background-color: white;
}

.MenubarTrigger,
.MenubarSubTrigger,
.MenubarItem {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  color: var(--primary-menu-text-color);
  border-radius: 4px;
  outline: none;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  gap: 2px;

  &:hover {
    background-color: var(--hovered-menu-item-color);
  }
}

.MenubarTrigger[data-state="open"],
.MenubarSubTrigger[data-state="open"] {
  background-color: var(--selected-menu-item-color);
}

.MenubarTrigger {
  justify-content: center;
  padding: 7px 7px;
}

.MenubarSubTrigger,
.MenubarItem {
  padding: 14px 7px 14px 16px;
}

.MenubarContent {
  position: fixed;
  top: var(--topbar-height);
  left: var(--primary-menu-width);
  width: var(--primary-menu-content-width);
  height: 100vh;
  padding: 5px;
  transform: none !important;
  color: var(--primary-menu-text-color);
  border-right: 1px solid var(--primary-menu-border-color);
  background-color: white;
  will-change: transform, opacity;
}

.MenubarSubContent {
  position: fixed;
  top: var(--topbar-height);
  left: calc(var(--primary-menu-width) + var(--primary-menu-content-width));
  width: var(--primary-menu-subcontent-width);
  height: 100vh;
  padding: 5px;
  color: var(--primary-menu-text-color);
  border-right: 1px solid var(--primary-menu-border-color);
  background-color: white;
  will-change: transform, opacity;
}

.MenubarItem.inset {
  padding-left: 20px;
}

.MenubarItem[data-highlighted] {
  background-color: var(--hovered-menu-item-color);
}

.MenubarItem[data-disabled] {
  pointer-events: none;
}

.MenubarItemIndicator {
  position: absolute;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.rightSlot {
  position: fixed;
  right: 10px;
  color: var(--primary-menu-text-color);
}

.MenubarSeparator {
  height: 1px;
  margin: 5px;
  background-color: #00002f26;
}

.leftSlot {
  position: fixed;
  left: 10px;
}

.menuItemText {
  position: relative;
  left: 10px;
}

.MenubarLabel {
  margin-bottom: var(--primary-menu-subcontent-item-margin-bottom);
  padding: 0 7px 0 16px;
  font-size: 16px;
  font-weight: 700;
}

.overlayForHover {
  position: absolute;
  z-index: 1;
  width: 53px;
  height: 54px;
}
