/* Warning - the CSS in this file is loaded INSIDE the preview iFrame which means that
care must be taken when adding classes in here. All classes should be very specific and
contain some mention of XB to mitigate against pollution from other CSS loaded in the
iFrame and to avoid polluting user styles.

Also note, the HMR does not watch this file so you must refresh your page manually to see changes in here.

This file is included as an attached Drupal library and as such is subject to CSS aggregation.
 */

 :root {
  /* Picked from the design tokens in the `ui/src/index.css` file. */
  --xb--space-1: 4px;
  --xb--space-2: 8px;
  --xb--radius-1: 3px;
  --xb--radius-2: 4px;
  --xb--blue-900: #176bfd;
 }

.xb--preview-dragging .xb--sortable-list {
  min-height: 2rem;
}
.xb--sortable-list {
  position: relative;
  display: flow-root; /* Prevent margin collapse from content inside */
}
.xb--sortable-list:empty {
  min-height: 1.5rem;
  border: 2px dashed #ccc;
}
.xb--sortable-list:empty::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "Slot";
  text-align: right;
}
.xb--sortable-item {
  cursor: grab;
}
.xb--preview-dragging *,
.xb--preview-dragging {
  cursor: grabbing !important;
}
.xb--sortable-ghost {
  position: absolute;
  z-index: 1;
  right: var(--xb--space-2);
  left: var(--xb--space-2);
  height: var(--xb--space-2);
  margin: 0;
  padding: 0;
  border-radius: var(--xb--radius-1);
  background-color: var(--xb--blue-900)
}
.xb--sortable-ghost * {
  display: none;
}
.xb--sortable-clone {
  opacity: 0.2;
}

.xb--sortable-ghost * {
  visibility: hidden;
}

[data-xb-component-id="slot"] {
  height: 100%;
}

.xb--sortable-slot-hover {
  outline: 1px solid var(--xb--blue-900);
  outline-offset: -1px;
}
