.preview-dragging .sortable-list {
  min-height: 2rem;
}
.preview-dragging .sortable-list:empty {
  background: #fff;
}
.slot-container {
  display: flex;
}
.slot-container > .sortable-item {
  width: 100%;
}
.sortable-list {
  position: relative;
  display: flow-root; /* Prevent margin collapse from content inside */
}
.sortable-list:empty {
  min-height: 1.5rem;
  border: 2px dashed #ccc;
}
.sortable-list:empty::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "Slot";
  text-align: right;
}
.sortable-item {
  cursor: grab;
}
.preview-dragging *,
.preview-dragging {
  cursor: grabbing;
}
.sortable-ghost {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 4px; /* Equivalent of --space-1 from Radix Theme */
  margin: 0;
  padding: 0;
  border-radius: 3px; /* Equivalent of --radius-1 from Radix Theme */
  background-color: #176bfd; /* Equivalent of --accent-900/--blue-900 from Radix Theme */
}
.sortable-ghost * {
  display: none;
}
.sortable-clone {
  opacity: 0.2;
}
