/*
 * Loading fonts purely via Code Components in Drupal Canvas is currently best
 * done by importing a CSS file with the font declarations from a URL, i.e. a
 * CDN.
 * Alternatively, you can create a minimal Drupal theme that loads local fonts.
 * (If you do that, you can import the same font, e.g., from a Fontsource package
 * in `.storybook/preview.js`.)
 */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/*
 * Importing Tailwind CSS after the font import, so PostCSS is happy with the
 * @import order. This is not necessary using the in-browser code editor, which
 * will take care of both importing all layers from Tailwind CSS, as well as
 * moving font imports to the top before compiling.
 */
@import 'tailwindcss';

/**
 * @see https://github.com/tailwindlabs/tailwindcss-typography
 */
@plugin '@tailwindcss/typography';

:root {
  --cream: hsl(48deg, 55%, 97%);
  --paper: hsl(45deg, 70%, 99%);
  --mist: hsl(80deg, 35%, 94%);
  --navy: hsl(211deg, 90%, 11%);

  --sage: hsl(96deg, 25%, 82%);
  --green: hsl(119deg, 21%, 46%);
  --deep-green: hsl(161deg, 42%, 25%);
  --eucalyptus: hsl(111deg, 18%, 60%);

  --surface-0: hsl(95deg, 31%, 91%);
  --surface-1: hsl(98deg, 28%, 77%);
  --line: hsl(45deg, 20%, 86%);
  --text: var(--navy);
  --muted: hsl(218deg, 23%, 31%);
}

.dark {
  --surface-0: hsl(210deg, 48%, 22%);
  --surface-1: hsl(211deg, 39%, 32%);
  --text: hsl(48deg, 55%, 97%);
  --muted: hsl(80deg, 10%, 70%);
}

/*
 * Allow toggling dark mode in Tailwind CSS manually by adding the `dark` class.
 * This allows adding props to components that control dark mode.
 * @see https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
 */
@custom-variant dark (&:where(.dark, .dark *));

/*
 * Tailwind CSS theme variables.
 * @see https://tailwindcss.com/docs/theme
 */
@theme inline {
  --font-sans:
    'InterVariable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans--font-feature-settings:
    'liga' 1, 'calt' 1, 'ss01' 1, 'cv05' 1, 'cv11' 1;
  --font-serif: 'DM Serif Display', Georgia, Cambria, 'Times New Roman', serif;

  --color-cream: var(--cream);
  --color-paper: var(--paper);
  --color-mist: var(--mist);
  --color-navy: var(--navy);
  --color-sage: var(--sage);
  --color-green: var(--green);
  --color-deep-green: var(--deep-green);
  --color-eucalyptus: var(--eucalyptus);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);
  --color-text: var(--text);
  --color-inverted-text: var(--cream);
}
