.panel {
  border-radius: var(--radius-4);
  background-color: var(--sand-1);
  box-shadow: var(--shadow-4);
}

.animateOff {
  transition:
    transform 0.2s cubic-bezier(0.4, 0, 0.6, 1),
    opacity 0.2s ease-in;
}

.offLeft,
.offRight {
  pointer-events: none;
  opacity: 0;
}

.offLeft {
  transform: translateX(-110%) scale(0.8);
  transform-origin: left center;
}

.offRight {
  transform: translateX(110%) scale(0.8);
  transform-origin: right center;
}
