.item {
  border-radius: var(--radius-2);

  &:hover {
    background: var(--gray-a3);
  }
}

.itemLabel {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-width: 0;
  padding: var(--space-1) var(--space-2);
  cursor: pointer;
  color: inherit;
  border: none;
  background: none;
  gap: var(--space-2);

  &[data-selected] {
    color: var(--accent-11);
  }
}
