.xbComponentOutline {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  outline: 1px dashed #000;
  will-change: top, left, width, height, transform;
  &.selected {
    border: 2px solid #1a89c9;
    outline: none;
  }
}
.xbSlotOutline {
  outline: 2px dashed #02a376;
}
.xbComponentToolbar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  will-change: top, left, transform;
  button {
    cursor: pointer !important;
  }
}
