.xbComponentOutline {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  opacity: 0;
  outline: 1px solid var(--color-outline-component);
  will-change: top, left, width, height, transform;
  &.selected {
    outline: 1px dashed var(--color-outline-component);
  }
}
.xbSlotOutline {
  outline: 1px dashed var(--color-outline-slot);
}

.xbNameTag {
  position: absolute;
  z-index: 2;
  top: 0;
  display: block;
  opacity: 1;
}

.xbAddSectionButton {
  position: absolute;
  z-index: 3;
  display: block;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 1;
}
