.toolbar {
  display: flex;
  align-items: center;
  color: var(--gray-9);
  border-radius: 5px;
  background-color: #fff
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border-radius: 4px;
}
