.Root {
  margin-bottom: var(--space-3);
  & > :first-child {
    position: relative;
  }
}

.Inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
}

.Checkbox {
  /* stylelint-disable-next-line value-keyword-case */
  composes: Inline;
}

.Radio {
  /* stylelint-disable-next-line value-keyword-case */
  composes: Inline;
}
