.ToggleContainer {
  position: relative;
  width: 100%;
  padding: var(--space-1);
}

.SegmentedControlRoot {
  display: flex;
  gap: 8px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
