.content {
  position: relative;
  left: -10px;
  min-width: var(--publish-review-width);
  max-width: var(--publish-review-max-width);
  max-height: var(--publish-review-max-height);
  margin-top: var(--space-5);
  padding: var(--space-4);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  border-radius: var(--radius-4);
  will-change: transform, opacity;
  &[data-state="open"][data-side="top"] {
    animation-name: slide-down-and-fade;
  }
  &[data-state="open"][data-side="right"] {
    animation-name: slide-left-and-fade;
  }
  &[data-state="open"][data-side="bottom"] {
    animation-name: slide-up-and-fade;
  }
  &[data-state="open"][data-side="left"] {
    animation-name: slide-right-and-fade;
  }
}

.headingTitle {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2);
}

.close {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.changeList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.changeRow {
  padding-bottom: var(--space-4);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-1);
}

.cmsIcon{
  width: 15px;
  height: 15px;
  color: var(--gray-10);
}

.component1Icon{
  color: var(--purple-9);
}

.cubeIcon{
  color: var(--grass-8);
}

.fileIcon{
  color: var(--gray-10);
}

.changeRowRight {
  color: var(--gray-10);
}

.avatar {
  border: 1.5px solid var(--sky-11);
}

.changeRowRight button {
  all: unset;
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right-and-fade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left-and-fade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.loading {
  padding-right: 10px;
}

.loading::after {
  position: absolute;
  overflow: hidden;
  width: 0;
  content: "\2026";
  animation: ellipsis steps(4, end) 900ms infinite;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
