.trigger {
  height: var(--space-7);
  color: var(--slate-11);
  &:hover {
    cursor: pointer;
    background-color: var(--sand-2);
  }
}

.content {
  overflow: hidden;

  &[data-state="open"] {
    animation: slide-down 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  &[data-state="closed"] {
    animation: slide-up 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

.accordionContent {
  /* @see https://www.radix-ui.com/primitives/docs/components/accordion#animating-content-size */
  --content-height: var(--radix-accordion-content-height);
}

.detailsContent {
  /* @see https://www.radix-ui.com/primitives/docs/components/collapsible#animating-content-size */
  --content-height: var(--radix-collapsible-content-height);
}

.chevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  color: var(--slate-12);
  .trigger[data-state="open"] > & {
    transform: rotate(180deg);
  }
}

@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: var(--content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--content-height);
  }
  to {
    height: 0;
  }
}
