.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  margin-bottom: var(--space-4);
  & > :first-child {
    position: relative;
  }
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
}

.checkbox {
  /* stylelint-disable-next-line value-keyword-case */
  composes: inline;
  flex-wrap: wrap;
  :global(.description) {
    flex-basis: 100%;
  }
}

.radio {
  /* stylelint-disable-next-line value-keyword-case */
  composes: inline;
}
