.contextualPanel {
  position: fixed;
  top: calc(var(--topbar-height) + var(--topbar-space-above) + var(--topbar-space-below));
  right: 15px;
  width: var(--sidebar-right-width);
  height: var(--sidebar-height);
  padding: 0 var(--space-1) var(--space-1) 0;
  background-color: #fff;
}

.handleContainer {
  width: 16px;
  height: 100%;
}
.handleIcon {
  position: absolute;
  pointer-events: none;
}
.cardInset {
  height: 100%;
}

.segmentedControlRoot {
  margin-bottom: 24px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
