.contextualPanel {
  position: fixed;
  top: var(--topbar-height);
  right: 0;
  left: auto;
  width: var(--contextual-panel-width);
  height: calc(100vh - var(--topbar-height));
  padding: var(--space-1) var(--space-1) var(--space-1) 0;
  background-color: #fff;
}

.handleContainer {
  width: 16px;
  height: 100%;
}
.handleIcon {
  position: absolute;
  pointer-events: none;
}
.cardInset {
  height: 100%;
}
