.nestedArea {
  width: 100%;
  padding: var(--space-2) 0 var(--space-2) 28px;
  border-radius: var(--radius-2);
  background-color: var(--gray-1);
}

.nestedHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--space-2);
  padding-right: var(--space-2);
  gap: var(--space-2);
}

.nestedList {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
  padding-right: var(--space-2);
}

.nestedRow {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--space-1) var(--space-2);
  cursor: pointer;
  text-align: left;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  background-color: white;
  gap: var(--space-2);
}

.nestedRow:hover {
  border-color: var(--gray-6);
}

.nestedRowDragging {
  z-index: 1;
  opacity: 0.5;
  border-style: dashed;
}

.dragHandle {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: grab;
  color: var(--gray-9);
  border: none;
  background: none;
}

.dragHandle:active {
  cursor: grabbing;
}

.typeIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--accent-11);
  border-radius: var(--radius-1);
  background-color: var(--accent-3);
}

.dotSeparator {
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--gray-8);
}
