/* reset */
button {
  all: unset;
}

@keyframes slide-down-and-fade-in {
  from {
    transform: translateY(calc(-0.5 * var(--topbar-height)));
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right-and-fade-in {
  from {
    transform: translateX(calc(-1.5 * var(--sidebar-space-side)));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.MenubarTrigger,
.MenubarSubTrigger,
.MenubarItem {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  width: 100%;
  user-select: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  gap: 2px;

  &:hover {
    background-color: var(--slate-3);
  }
}

.MenubarTrigger[data-state="open"],
.MenubarSubTrigger[data-state="open"] {
  background-color: var(--slate-5);
}

.MenubarTrigger {
  justify-content: center;
  padding: 7px 7px;
}

.MenubarPanel {
  box-shadow: var(--shadow-6);
}

.MenubarContent {
  position: fixed;
  top: calc(var(--topbar-height) + var(--topbar-space-above) + var(--topbar-space-below) / 2);
  left: calc(var(--sidebar-space-side) * 2);
  width: var(--component-insert-menu-width);
  will-change: transform, opacity;
  transform-origin: top center;
  opacity: 0;
}

.MenubarContent[data-state="open"] {
  animation: slide-down-and-fade-in 400ms cubic-bezier(0.15, 1, 0.3, 1) forwards;
}

.MenubarSubContent {
  position: fixed;
  left: calc(var(--sidebar-space-side) / 2 + var(--component-insert-menu-width));
  overflow: auto;
  width: var(--component-insert-menu-width);
  height: auto;
  min-height: 0;
  max-height: calc(100vh - var(--topbar-height) - var(--topbar-space-above) - var(--topbar-space-below));
  transform-origin: top center;
  opacity: 0;
  box-shadow: var(--shadow-6);
  will-change: transform, opacity;
}

.MenubarSubContent[data-state="open"] {
  animation: slide-right-and-fade-in 600ms cubic-bezier(0.15, 1, 0.3, 1) forwards;
}

.MenubarItem[data-highlighted] {
  background-color: var(--slate-3);
}

.MenubarItem[data-disabled] {
  pointer-events: none;
}

.plusIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  text-align: center;
  color: white;
  border-radius: 4px;
  background-color: var(--blue-9);
}

.plusIconWrapper:hover {
  background-color: var(--blue-10);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-id-pattern */
:global(#menuBarContainer [data-radix-popper-content-wrapper]:has(> [data-radix-menu-content])) {
  /* Reset some default styling of the Radix Themes Menubar component. The styling is attached to the portal element,
     so we use the :global selector of CSS modules to avoid scoping this reset. */
  transform: none !important;
}
